node_modules/
npm-debug.log*
.DS_Store
public/
.idea/
*.pyc
out.log
error.log
ecosystem.config.js
ecosystem.config.json
jest-stare/
v8-compile-cache*0/
server.js
start.js
oor
package-lock.json
cypress/videos/
cypress/screenshots/
yarn-error.log
browsers.js
coverage/
storybook-static/
allure-results/
test-result/
scripts/generate-release.js
test-report.xml
allure-report/
